.root {
  padding-top: 134px;
}

.header {
  border-radius: 20px;
  color: white;
  /* background: linear-gradient(
      90deg,
      rgba(53, 46, 31, 0.8) 0%,
      rgba(53, 46, 31, 0) 100%
    ),
    url('/bg_home_header.png') center/cover; */
  background-repeat: no-repeat;
  border-radius: 20px;
  padding: 65px 82px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.subtitleBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.subtitle {
  width: 50%;
}

.paletteContainer {
  display: flex;
  flex-direction: row-reverse;
}

.paletteContainer div {
  position: relative;
}

.palette1 {
  left: 64px;
}
.palette2 {
  left: 48px;
}
.palette3 {
  left: 32px;
}
.palette4 {
  left: 16px;
}

.buttonBar {
  display: flex;
  flex-direction: row;
  /* width: 260px; */
  /* justify-content: space-between; */
  align-items: center;
}

.button {
  margin-right: 30px;
}

.button img {
  margin-right: 10px;
}

.countdown {
  background: rgba(114, 114, 114, 0.3);
  box-shadow: inset -5px -5px 250px rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(18px);
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 16px 24px;
  margin-top: 40px;
  align-self: center;
  text-align: center;
  width: 100%;
  border: solid 1px gray;
}

/* .countdown p {
  margin: 16px 0;
} */

.divider {
  width: 1px;
  height: 52px;
  background: #dde0e4;
  margin: 0 16px;
}

.subcontainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon {
  margin-right: 16px;
}

.collab {
  background: url('/separator.svg') no-repeat center #FFF5E1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 140px;
  margin: 56px 0;
}

.collabIcon {
  position: absolute;
  transform: translate(-50%, 0);
  left: 50vw;
}

.collab1 {
  position: absolute;
  transform: translate(-100%, 0);
  left: calc(50vw - 51px);
}

.collab2 {
  position: absolute;
  left: calc(50vw + 51px);
}

.videoSection {
  margin: 138px 0;
}

.videoContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 120px;
}

.no1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #feb528;
}

.no1 img {
  width: 16px;
  height: 16px;
  margin-right: 9px;
}

.feature {
  flex: 3;
}

.videoPreview {
  min-width: 452px;
  height: 396px;
  background: url('/video_thumbnail.png') center/contain;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 3;
}

.statistics {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #D4E5FF;
  border-radius: 10px;
}

/* .statistics div {
  width: 100%;
  padding: 0 32px;
} */

.statistics p {
  color: #737b7d;
  margin-left: 24px;
}

.slides {
  background: #FFF5E1;
  padding: 105px 0;
}

.slider {
  padding-left: 108px;
}
.sliderItem {
  border-radius: 20px;
  padding: 60px 42px;
  margin-right: 16px;
  background-color: white;
}
.sliderItem img {
  display: block;
  margin-bottom: 18px;
}

/* .statistics1 {
  background: #dde0e4;
  border-radius: 10px 0 0 10px;
}
.statistics2 {
  background: #eaebef;
}
.statistics3 {
  background: #dde0e4;
}
.statistics4 {
  background: #eaebef;
  border-radius: 0 10px 10px 0;
} */

/* .eventLots {
  font-family: 'Cormorant';
  font-weight: 700 !important;
  text-align: center;
}

.buttonCenter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 88px;
  margin-bottom: 88px;
} */

.testimonials {
  background: linear-gradient(180deg, #fff2d8 0%, rgba(255, 253, 249, 0) 100%);
  padding: 108px 0;
}

.testimonials h3 {
  font-weight: 600;
  font-size: 56px;
  margin-bottom: 60px;
}

.slider {
  margin-bottom: 214px;
}

.sliderContent {
  padding: 48px 24px;
  background-color: white;
  text-align: center;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.quote {
  position: absolute;
  bottom: -24px;
  right: 24px;
}

.sliderContent p {
  font-size: 14px;
  line-height: 22px;
  margin: 24px 0;
}
.sliderContent h5 {
  margin: 0;
}

.registerContainer {
  margin-bottom: 127px;
  margin-top: 97px;
}

.register {
  border-radius: 20px;
  background: url('/bg_home_register.png') center/cover;
  padding: 88px 93px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-repeat: no-repeat;
  align-items: center;
  margin-bottom: 177px;
  margin-top: 97px;
}

.register h4 {
  color: #EAEBEF;
  line-height: 48px;
  text-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
}